@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  background-color: var(--color-background-light);
  color: var(--color-text-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dark {
  background-color: var(--color-background-dark);
  color: var(--color-text-dark);
}

@theme {
  --color-primary-light: #2563eb;
  /* Accessible Blue */
  --color-primary-dark: #3b82f6;
  /* Bright Blue */

  --color-background-light: #f8fafc;
  /* Soft Off-White */
  --color-background-dark: #1e293b;
  /* Dark Navy */

  --color-text-light: #1f2937;
  /* Near-Black */
  --color-text-dark: #e2e8f0;
  /* Soft White */

  --color-secondary-light: #4b5563;
  /* Cool Gray */
  --color-secondary-dark: #94a3b8;
  /* Light Gray */

  --color-accent-light: #10b981;
  /* Contrasting Green */
  --color-accent-dark: #10b981;
  /* Same Green for consistency */
}
