PORT = 8000;
MONGODB_URI = mongodb+srv://shubham-11:Your_Password@cluster0.hrgam.mongodb.net;
CORS_ORIGIN = *;
ACCESS_TOKEN_SECRET = a4Ok32WS;
ACCESS_TOKEN_EXPIRY = 1d;
REFRESH_TOKEN_SECRET = e2Qqu27;
REFRESH_TOKEN_EXPIRY = 10d;
CLOUDINRY_CLOUD_NAME = Shubham;
CLOUDINRY_API_KEY = 12345;
CLOUDINRY_API_SECRET = AfJSsdHDHs;